<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Grafico</title>
</head>
<body>
    <h1>Gráfico</h1>

    <!-- Use the image_file variable to dynamically set the image source -->
    <img src="{{ url_for('static', filename='img/' + image_file) }}" alt="Description of the image">

    <!-- Add a button to refresh the page -->
    <form>
        <input type="button" value="Refresh" onClick="window.location.reload()">
    </form>

</body>
</html>
