<!DOCTYPE html>
<html>
<head>
    <title>Assistente Mil Grau</title>
    <style>
        .iframe-container {
            width: 50%;
            height: 50vh;
            float: left; /* Alinha os frames à esquerda para que fiquem lado a lado */
        }

        .top-menu {
            text-align: center;
        }

        .menu {
            list-style: none;
            padding: 0;
        }

        .menu li {
            display: inline;
            margin-right: 20px; /* Add some spacing between menu items if desired */
        }
    </style>

</head>
<body>
    <div class="top-menu">
        <ul class="menu">
            <button id="avatarButton">Avatar</button>
            <button id="jogoButton">Jogo da Velha</button>
            <button id="aboutButton">Sobre</button>
        </ul>
    </div>

    <div class="iframe-container">
        <iframe src="assistente.html" style="width: 100%; height: 90vh;" frameborder="0"></iframe>
    </div>

    <div class="iframe-container">
        <iframe id="myIframe" src="avatar.html" style="width: 100%; height: 90vh;" frameborder="0"></iframe>
    </div>

    <script>
        document.getElementById("aboutButton").addEventListener("click", function () {
            document.getElementById("myIframe").src = "{{ url_for('about') }}";
        });
        document.getElementById("avatarButton").addEventListener("click", function () {
            document.getElementById("myIframe").src = "{{ url_for('avatar') }}";
        });
        document.getElementById("jogoButton").addEventListener("click", function () {
            document.getElementById("myIframe").src = "{{ url_for('jogo') }}";
        });
    </script>
</body>
</html>