<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistente Trabalhador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rpg.css') }}" />
    <script src="{{ url_for('static', filename='js/rpg.js') }}" defer></script>
</head>
<body>
    <div id="gameContainer">
        <canvas id="gameCanvas" width="640" height="480"></canvas>
        <div id="localPlayer"></div>
        <div id="objetivo_completo">Coletou: 0</div>
        <div id="conversar">Conversar: Ninguém</div>
    </div>
</body>
</html>
