<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISION</title>
    <style>
        input {
            font-size: 14px;
            width: 300px; /* Make sure the input takes the full width */
            box-sizing: border-box; /* Include padding and border in the width */
        }
        img {
            width: 100%;
            max-width: 800px;
            display: block;
            margin: 20px auto;
        }
    </style>
</head>
<body>

<label for="streamUrl">URL do Stream ou Foto:</label>
<input type="text" id="streamUrl" value="https://www.ufmt.br/ocs/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png">
<button onclick="startStopStream()">Start/Stop Stream</button>
<br>
<!-- <label for="oquefazer">Instrução para o GPT Vision:</label>
<input type="text" id="oquefazer" value="O que tem nessa imagem?">-->



<img id="streamImage" style="display:none">
<p>URL de Exemplo</p>
<p>https://www.ufmt.br/ocs/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png</p>
<p>http://seu_ip_aqui_oh:81/stream</p>

<script>
    let streamImage = document.getElementById("streamImage");
    let streamUrlInput = document.getElementById("streamUrl");
    //let oquefazerInput = document.getElementById("oquefazer");

    function startStopStream() {
        if (streamImage.style.display === "none") {
            startStream();
        } else {
            stopStream();
        }
    }

    function startStream() {
        let streamUrl = streamUrlInput.value;
        //let instrucao = oquefazerInput.value;
        if (streamUrl.trim() === "") {
            alert("Please enter a valid stream URL");
            return;
        }

        //fetch('/camera_url?camera=' + streamUrl + '&instrucao=' + instrucao, {
        fetch('/camera_url?camera=' + streamUrl, {
          method: 'GET', // This is the default, so you can omit it.
          headers: {
            'Content-Type': 'application/json', // Set the content type if needed.
            // You can add other headers here as needed.
          },
          // You can add additional options like credentials, mode, etc.
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          try {
                // Verificar se streamUrl começa com uma letra de unidade (c:/ ou D:\)
                if (/^[A-Za-z]:[\\\/]/.test(streamUrl)) {
                    // Se sim, ajustar para o novo URL
                    streamUrl = 'http://127.0.0.1:5000/image?timestamp=' + new Date().getTime();
                }
                streamImage.src = streamUrl;
            } catch (error) {
                console.error("Error setting streamImage src:", error.message);
            }
            streamImage.style.display = "block";
          return response; // Parse the response as JSON
        })
        .catch(error => {
          // Handle errors here
          console.error('Fetch error:', error);
        });


    }

    function stopStream() {
        streamImage.style.display = "none";
        // Set an empty source to stop loading the image
        streamImage.src = "";
    }
</script>

</body>
</html>
